@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}
@keyframes shine {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-shine {
  background-size: 200% auto;
  animation: shine 3s linear infinite;
}
